<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unionpay.app">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="upsdkDemo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.unionpay.app.UPApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity android:name="com.unionpay.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>